<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Darbas</title>
</head>
<body>
    <form method="GET" action="/duomenu-siuntimas">
        <input type="text" name="vardas" placeholder="enter your name" /> <br/>
        <input type="text" name="pavarde" placeholder="enter your last name" /> <br/>
        <input type="text" name="adresas" placeholder="enter your address"/> <br/>
        <input type="tel" name="mobilus" placeholder="enter your phone number"/> <br/>
        <input type="email" name="email" placeholder="enter your email"/> <br/>
        <button> Siųsti</button>
    </form>
</body>
</html>